{% comment %}
Copyright Lukas Bürgi 2019. Maybe. This was machine-generated and edited
so might not be copyrightable at all.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'exportkontrollstatistiken/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'exportkontrollstatistiken/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'exportkontrollstatistiken/favicon/favicon-16x16.png' %}">
<link rel="manifest" href="{% url 'webmanifest' %}">
<link rel="mask-icon" href="{% static 'exportkontrollstatistiken/favicon/safari-pinned-tab.svg' %}" color="#b40e44">
<link rel="shortcut icon" href="{% static 'exportkontrollstatistiken/favicon/favicon.ico' %}">
<meta name="theme-color" content="#ffffff">
