{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{# Only for inclusion in other templates, it's not a a whole page. #}
{% load i18n %}
<div class="filter_container">
  <div class="filter_constrainer">
    <div class="filter">
      <label class="filter_label" for="{{ name }}_filter_beginn">{% trans "Exporte von" %}</label>
      <input id="{{ name }}_filter_beginn" class="filter_grow" type="number" placeholder="Jahr" value="{{ p.year1 }}" step="1" min="{{ firstYear }}" max="{{ p.year2 }}">
    </div>
    <div class="filter">
      <label class="filter_label" for="{{ name }}_filter_ende">{% trans "bis" %}</label>
      <input id="{{ name }}_filter_ende" class="filter_grow" type="number" placeholder="Jahr" value="{{ p.year2 }}" step="1" min="{{ p.year1 }}" max="{{ lastYear }}">
    </div>
    <div class="filter">
      {% trans "(jeweils inklusive)." %}
    </div>
    <div class="filter extended">
      <div class="filter_label"><div>{% trans "Art:" %}</div></div>
      <div class="gueterArten">
        {% for key, value in p.typesChoices.items %}
        <div>
          <input type="checkbox" id="{{ name }}_filter_{{ key }}" name="gueterArten"
                 {% if key in p.types %}checked{% endif %}>
          <label for="{{ name }}_filter_{{ key }}">{{ value.1 }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="filter extended">
      <label class="filter_label" for="{{ name }}_filter_laender">{% trans "Empfänger: " %}</label>
      <select id="{{ name }}_filter_laender" class="filter_grow" >
          <option value="all">{% trans "Alle Länder" %}</option>
          {#<optgroup label="{% trans "Kontinente und Regionen" %}">#}
            {#{% for region in regions %}#}
              {#<option value="{{ region.code }}">{{ region.name.de }}</option>#}
            {#{% endfor %}#}
          {#</optgroup>#}
          <optgroup label="{% trans "Länder einzeln" %}">
            {% for country in countries %}
              {% if country.code != 'CH' %}
                <option value="{{ country.code }}">{{ country.name.de }}</option>
              {% endif %}
            {% endfor %}
          </optgroup>
      </select>
    </div>
    
    <div class="filter extended">
      {# Drop down Granularität #}
      <label class="filter_label" for="{{ name }}_filter_granularity">{% trans "Darstellungsart" %}:</label>
      <select id="{{ name }}_filter_granularity" class="filter_grow">
          {% for key, value in p.granularities.items %}
            <option value="{{ key }}" {% if p.granularity == value.0 %}selected{% endif %}>{{ value.1 }}</option>
          {% endfor %}
      </select>
      {# TODO: Sort #}
    </div>
    <div class="filter extended">
      <label class="filter_label" for="{{ name }}_filter_perPage">{% trans "Einträge pro Seite:" %}</label>
      <select id="{{ name }}_filter_perPage" class="filter_grow">
          {% for perPage in p.perPageChoices %}
            <option value="{{ perPage }}" {% if perPage == p.perPage %}selected{% endif %}>{{ perPage }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="filter extended">
      &nbsp;<a href="#" onclick="controller.widgets.{{ name }}.hideExtended(); return false;">{% trans "Weniger Optionen" %}</a>.
    </div>
    <div class="filter minimized">
      <a href="#" onclick="controller.widgets.{{ name }}.showExtended(); return false;">{% trans "Mehr Optionen" %}</a>.
    </div>
  </div>
</div>
