.filter-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content:center;
  
  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px #000000;
  
  position: -webkit-sticky;
  position: sticky;
  top: 1px;
  z-index: 1;

  margin: 1px 0;
  width: 100%;
  padding:  2px;
}
.filter.extended {
  display: none;
}
.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-content:center;
}
.gueterArten {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
}
.filter_label {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content:center;
  padding:0.5em
}
