{# Only for inclusion in other templates, it's not a a whole page. #}
{% load i18n %}
<div class="filter">
  <div class="filter">
    <div class="filter_label"><div>{% trans "Export von" %}</div></div>
    <div class="gueterArten">
      {% for key, value in p.typesChoices.items %}
      <div>
        <input type="checkbox" id="table_{{ key }}" name="gueterArten"
               {% if key in p.types %}checked{% endif %}>
        <label for="table_{{ key }}">{{ value.1 }}</label>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="filter">
    <label class="filter_label" for="laender">{% trans "an" %}</label>
    <select id="laender">
        <option value="000">{% trans "Alle Länder" %}</option>
        <optgroup label="{% trans "Kontinente und Regionen" %}">
          {% for code, name in regions.items %}
            <option value="{{ code }}">{{ name }}</option>
          {% endfor %}
        </optgroup>
        <optgroup label="{% trans "Länder einzeln" %}">
          {% for country in countries %}
            {% if country.code != 'CH' %}
              <option value="{{ country.code }}">{{ country.name.de }}</option>
            {% endif %}
          {% endfor %}
        </optgroup>
    </select>
  </div>
  <div class="filter">
    {# Zwei Zahleneingabefehlder für Beginn und Ende, die Range sollte dynamisch angepasst werden, d.h. wenn man den einen verschiebt wird das min/max des anderen angepasst. #}
    <label class="filter_label" for="table_beginn">{% trans "ab (inklusiv)" %}</label>
    <input id="table_beginn" type="number" placeholder="Jahr" value="{{ p.year1 }}" step="1" min="2000" max="2020">
  </div>
  <div class="filter">
    <label class="filter_label" for="table_ende">{% trans "bis (inklusiv)" %}</label>
    <input id="table_ende" type="number" placeholder="Jahr" value="{{ p.year2 }}" step="1" min="2000" max="2020">
  </div>
  <div class="filter">
    {# Drop down Granularität #}
    <label class="filter_label" for="table_granularity">{% trans "Darstellungsart" %}:</label>
    <select id="table_granularity">
        {% for key, value in p.granularities.items %}
          <option value="{{ key }}" {% if p.granularity == key %}selected{% endif %}>{{ value.1 }}</option>
        {% endfor %}
    </select>
    {# TODO: Sort, rows per page#}
  </div>
  <div class="filter">
    <label class="filter_label" for="filter_perPage">{% trans "Einträge pro Seite:" %}</label>
    <select id="filter_perPage">
      {# this does not work #}
      {% with '10 20 50 100 200 500' as list %}
        {% if p.perPage not in list.split %}
          <option value="{{ p.perPage }}" selected>{{ p.perPage }}</option>
        {% endif %}
        {% for perPage in list.split %}
          <option value="{{ perPage }}" {% if perPage == p.perPage %}selected{% endif %}>{{ perPage }}</option>
        {% endfor %}
      {% endwith %}
    </select>
  </div>
</div>
