* {
  font-family: sans-serif;
  line-height: 1.5
}
.mainbox {
  display: flex;
  flex-direction: column;
}
.intro {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  padding:  2px;
  margin: 0 0 1px 0;
}
.header {
  text-align: center;
  margin: 0 0 2rem 0;
}
.title {
  font-size: 5em;
  font-variant: all-small-caps;
  word-wrap: break-word;
}
.text {
  text-align: center;
  width: 100%;
}
.paragraph {
  margin: 0 auto;
  text-align: justify;
  
  max-width: 50rem;
}

h2 {
  font-size: 1.5em;
}
