{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<meta charset='utf-8'>
<html>
  <style>
    {# TODO: Prefix all sub-component class and id identifiers with <their component>_ #}
    {% include "exportkontrollstatistiken/index.css" only %}
    {% include "exportkontrollstatistiken/worldmap.css" only %}
    {% include "exportkontrollstatistiken/filter.css" only %}
    {% include "exportkontrollstatistiken/table.css" only %}
    {% include "exportkontrollstatistiken/loading.css" only %}
  </style>
  <head>
    <title>{% trans "Schweizer Waffenexporte - GSoA" %}</title>
    {% include "exportkontrollstatistiken/favicon/favicon.html" only %}
    {# should I include them using templates? might speed things up... or not. Quite possibly if using template caching. #}
    {# Possibly those scripts should actually not go in the head? Could speed up initial display? #}
    <script src="{% static 'exportkontrollstatistiken/d3.v5.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'exportkontrollstatistiken/queue.v1.min.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/topojson.v1.min.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/d3-geo-projection.v1.min.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/d3-format.v1.min.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/worldmap.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/table.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/filter.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/jenks.js' %}"></script>
    <script src="{% static 'exportkontrollstatistiken/loading.js' %}"></script>
  </head>
  <body>
    <div class="mainbox">
      <div class="intro">
        <div class="header">
          <img class="title" alt="{% trans "Schweizer Waffenexporte" %}" src="{% static 'exportkontrollstatistiken/schweizerwaffenexporte.svg' %}">
          <br>
          <a class="logo" href="https://www.gsoa.ch">
            <img alt="{% trans "GSoA Logo" %}" height="15em" src="{% static 'exportkontrollstatistiken/gsoa-logo.svg' %}">
          </a>
        </div>
        <div class="text">
            <h2>{% trans "Machen Sie sich selbst ein Bild über die Waffenexporte der Schweiz!" %}</h2><br>
            <div class="paragraph">
              {% blocktrans %}
                Das Staatssekretariat für Wirtschaft SECO veröffentlicht Daten über den Export von Kriegsmaterial und besonderen militärischen Gütern. Besondere militärische Güter sind ähnlich wie Kriegsmaterial und werden in anderen Ländern auch so genannt. <br>
                Diese Daten werden in der Tabelle und der Karte angezeigt, aufsummiert über die vergangenen Jahre. Dunklere Farben auf der Karte stehen für mehr Exporte, wobei die genauen Zahlen angezeigt werden, wenn man die Maus über das Land bewegt oder das Land antippt. <br>
                Mit den Filtern und Darstellungsoptionen kann man bei Interesse tiefer ins Detail gehen. Insbesondere besteht auch die Möglichkeit die Geschäft einzeln anzeigen zu lassen, so detailliert wie das mit den veröffentlichten Daten möglich ist. Die Beschreibung der Güter erfolgt aktuell über einen Code, den man auf admin.ch nachschlagen kann. In Zukunft wird auch direkt die Beschreibung angezeigt werden.<br>
                In der Tabelle unten kann man die Exporte im Detail betrachten, je nach ausgewählter Darstellungsart und Sortierreihenfolge. <br>
                Stand: Bis zum ersten Quartal 2019 vollständig.
              {% endblocktrans %}
            </div>
        </div>
      </div>
      {# xxx Franken Exporte von Kriegsmaterial, besonderen militärischen Gütern und Dual Use Gütern total in unserer Datenbank. #}
      {# Davon zur Anzeige ausgewählt: <Nichts|xxx Franken> #}
      {% include "exportkontrollstatistiken/filter.html" with name="top" %}
      {% include "exportkontrollstatistiken/table.html" %}
      {% include "exportkontrollstatistiken/worldmap.html" only %}
      {# {% include "exportkontrollstatistiken/filter.html" with name="middle" %} #}
    </div>
    <div class="footer">
      {% blocktrans %}
        Kontakt: <a href="mailto:buergi.lukas@gmail.com">Lukas Bürgi</a> (buergi.lukas@gmail.com).
        <br>
        Diese Webseite ist <a href="https://www.gnu.org/philosophy/free-sw.de.html">Freie Software</a>. Der Quelltext inklusive der Datenbank und weiterer Werkzeuge ist <a href="https://github.com/lukas-buergi/km-stat">dort</a> verfügbar.
      {% endblocktrans %}
    </div>
    {# for some reason the worldmap only works if this is down here, not if it's in the head. The table works fine in either case. #}
    <script type='text/javascript'>
      controller = new Controller({{ p|safe }}, "{% static 'exportkontrollstatistiken/world_countries.json' %}");
    </script>
  </body>
</html>
