{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

.loading_message{
  max-width: 50rem;
  max-height: 5rem;
  
  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;

  background-color: #ffffff;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px #000000;
}

.loading_box{
  background:rgba(0,0,0,0.1);
  z-index: 3;

  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;

  animation-name:background;
    -o-animation-name:background;
    -ms-animation-name:background;
    -webkit-animation-name:background;
    -moz-animation-name:background;
  animation-duration:0.75s;
    -o-animation-duration:0.75s;
    -ms-animation-duration:0.75s;
    -webkit-animation-duration:0.75s;
    -moz-animation-duration:0.75s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:alternate;
    -o-animation-direction:alternate;
    -ms-animation-direction:alternate;
    -webkit-animation-direction:alternate;
    -moz-animation-direction:alternate;
}
@keyframes background{
  0%{
    background-color:rgb(0,0,0,0.3);
  }

  100%{
    background-color:rgb(0,0,0,0.6);
  }
}

@-o-keyframes background{
  0%{
    background-color:rgb(0,0,0,0.3);
  }

  100%{
    background-color:rgb(0,0,0,0.6);
  }
}

@-ms-keyframes background{
  0%{
    background-color:rgb(0,0,0,0.3);
  }

  100%{
    background-color:rgb(0,0,0,0.6);
  }
}

@-webkit-keyframes background{
  0%{
    background-color:rgb(0,0,0,0.3);
  }

  100%{
    background-color:rgb(0,0,0,0.6);
  }
}

@-moz-keyframes background{
  0%{
    background-color:rgb(0,0,0,0.3);
  }

  100%{
    background-color:rgb(0,0,0,0.6);
  }
}
