{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{# Only for inclusion in other templates, it's not a a whole page. #}
{% load i18n %}
<div class="table_container">
  {% include "exportkontrollstatistiken/loading.html" with name="table" %}
  <div class="table_pageNavigation">
    <input id="table_firstPage" type="button" value="{% trans "Erste Seite" %}" onclick="controller.widgets.{{ name }}.firstPage();" />
    <input id="table_previousPage" type="button" value="{% trans "Vorherige Seite" %}" onclick="controller.widgets.{{ name }}.previousPage();" />
    <select id="table_jumpToPage">
      <option value="{{ p.pageNumber }}" selected>{% trans "Gehe zu Seite " %}{{ p.pageNumber }}</option>
    </select>
    <input id="table_nextPage" type="button" value="{% trans "Nächste Seite" %}" onclick="controller.widgets.{{ name }}.nextPage();" />
    <input id="table_lastPage" type="button" value="{% trans "Letzte Seite" %}" onclick="controller.widgets.{{ name }}.lastPage();" />
  </div>
  <table class="table_content">
    <thead></thead>
    <tbody>
      <tr><td>{% trans "Tabelleneinträge am Laden. Wenn diese Nachricht längere Zeit angezeigt wird liegt ein technisches Problem vor." %}</td></tr>
    </tbody>
  </table>
  {# TODO: display page navigation again? #}
</div>
