{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

.table_container {
  background-color: #FAFAFA;
  padding: 5px 0;
  
  width: 100%;

  position:relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.table_pageNavigation {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.table_pageNavigation input {
  flex-grow:1;

}
.table_content {
  width: 100%;
  max-width: 50rem;
  border-spacing: 0;
}

.table_content thead {
  font-weight: bold;
  background-color: #FAFAFA;
}
.table_content td{
  padding: 10px;
}
.table_content tr{

}
.table_content tbody tr:nth-child(odd){
  background-color: #EEEEEE;
}
.table_content tbody tr:nth-child(even){
  background-color: #FAFAFA;
}
