.table_container {
  border: 1px solid;
  border-radius: 5px;
  padding:  2px;
  margin: 1px 0;
  
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*margin: 0 auto; /* center table 
  overflow: auto;*/
}

.table_pageNavigation {
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}
.table_pageNavigation input {
  flex-grow:1;

}
.table_content {
  width: 100%;
  max-width: 50rem;
  border-spacing: 0;
  /*table-layout: auto;*/
  /*min-width: 50vw;*/
  /*display: block;*/
}

.table_content thead {
  font-weight: bold;
}
.table_content td{
  padding: 10px;
}
.table_content tr{

}
.table_content tbody tr:nth-child(odd){
  background-color: #EEEEEE;
}
.table_content tbody tr:nth-child(even){
  background-color: #FAFAFA;
}
.table_content td:nth-child(3){
  text-align: right;
}
