{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}
{% load i18n %}

<!DOCTYPE html>
<meta charset='utf-8'>
<html>
  <head>
    <script src="{% static 'exportkontrollstatistiken/d3.v5.min.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <select id="table_granularity">
        {% for key, value in p.granularities.items %}
          <option value="{{ key }}" {% if p.granularity == value.0 %}selected{% endif %}>{{ value.1 }}</option>
        {% endfor %}
    </select>
    <script type='text/javascript'>
      d3.json('https://static.alohcheigee0ou7ooqu3.t4b.me/exportkontrollstatistiken/world_countries.json').then(console.log("Loaded countries."));
    </script>
  </body>
</html>
