{% load static %}
{% load i18n %}

<!DOCTYPE html>
<meta charset='utf-8'>
<html>
  <head>
    <script src="{% static 'exportkontrollstatistiken/d3.v5.min.js' %}" charset="utf-8"></script>
  </head>
  <body>
    <select id="table_granularity">
        {% for key, value in p.granularities.items %}
          <option value="{{ key }}" {% if p.granularity == value.0 %}selected{% endif %}>{{ value.1 }}</option>
        {% endfor %}
    </select>
    <script type='text/javascript'>
      d3.json('https://static.alohcheigee0ou7ooqu3.t4b.me/exportkontrollstatistiken/world_countries.json').then(console.log("Loaded countries."));
    </script>
  </body>
</html>
