{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

.worldmap_container {
  /*
  border: 1px solid;
  border-radius: 5px;
  * */
  background-color: #EEEEEE;
  padding: 5px 1px;
  position: relative;
  /*margin: 1px 0;*/
  /* for scaling */
  /*display: inline-block;*/

}
.worldmap {
  position: relative;
  width: 100%;
  overflow: visible; {# overflow-x and -y don't seem to work #}
}
.worldmap_svg {
  /* for scaling */
  position: absolute;
  top: 0;
  left: 0;
}
.worldmap_loadingMessage {
  font-size: 4em;
  text-align: center;
}
{# this should start in the middle. Sometimes (for example when scrolling) it's not moved with the mouse pointer. #}
.worldmap_popup {
  position: absolute;
  top: 0; left: 0;
  visibility: hidden;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 1px 1px 1px 0px #000000;
  z-index: 2;
  text-align: left;
}
