{% comment %}
Copyright Lukas Bürgi 2019.

This file is part of km-stat.

km-stat is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

km-stat is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public
License along with km-stat.  If not, see
<https://www.gnu.org/licenses/>.
{% endcomment %}

{# Only for inclusion in other templates, it's not a a whole page. #}
{% load i18n %}
<div class="worldmap_container">
  {% include "exportkontrollstatistiken/loading.html" with name="worldmap" %}
  <div class="worldmap">
    <div class="worldmap_popup">
      <table>
        <tbody>
          <tr>
            <td>{% trans "Land" %}:</td>
            <td id="worldmap_country"></td>
          </tr>
          <tr>
            <td>{% trans "Exporte" %}:</td>
            <td id="worldmap_exports"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="worldmap_loadingMessage">{% trans "Karte am Laden..." %}</div>
  </div>
</div>
