.worldmap {
  border: 1px solid;
  border-radius: 5px;
  padding:  2px;
  margin: 1px 0;
  /* for scaling */
  /*display: inline-block;*/
  position: relative;
  width: 100%;
  padding-bottom: 0;
  overflow: visible; {# overflow-x and -y don't seem to work #}
}
.worldmap_svg {
  /* for scaling */
  position: absolute;
  top: 0;
  left: 0;
}
.worldmap_loadingMessage {
  font-size: 4em;
  text-align: center;
}
{# this should start in the middle. Sometimes (for example when scrolling) it's not moved with the mouse pointer. #}
.worldmap_popup {
  position: absolute;
  top: 0; left: 0;
  visibility: hidden;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  box-shadow: 1px 1px 1px 0px #000000;
  z-index: 2;
  text-align: left;
}
